images/*
!images/.gitkeep

logs/*
!logs/.gitkeep

overlays/*
!overlays/.gitkeep

# Ignore everything in the workspace folder but the src directory
workspace/*
!workspace/src/
workspace/src/*
!workspace/src/.gitkeep